     <form action="/survey" method="post">
        <label>Your Name:</label>
        <input type="text" name="Name"><br>
        <label>Location:</label>
        <select name="Location">
    		<option value="San Jose">San Jose</option>
    		<option value="Seattle">Seattle</option>
    		<option value="New York">New York</option>
    		<option value="Chicago">Chicago</option>
    	</select><br>
        <label>Comment:</label>
        <textarea name="Comment" id="" cols="30" rows="5"></textarea><br>
        <button>Submit</button>
    </form>